whatsapp/whatsapp.json
{
  "name": "whatsapp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evo",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        -40
      ],
      "id": "08471489-50de-4fc5-9015-01151a8f1790",
      "name": "Webhook",
      "webhookId": "51deaa26-54b2-4040-8d24-67880da91103"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=el usuario envía el siguiente mensaje:\nuser_name:{{ $json.chat_id }}\nmessage:{{ $('Webhook').item.json.body.data.message.conversation }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        -40
      ],
      "id": "50faefc3-b667-4d64-924f-f459cfe9d562",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        60,
        220
      ],
      "id": "facf5e77-6c82-4794-9dee-7b610808fa95",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xymrryv6wbWhYNOd",
          "name": "Google Gemini(PaLM) Api account sinfallas"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        220
      ],
      "id": "7259028f-9f28-4714-9ef7-061acd16779c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('valores').item.json.instance_name }}",
        "remoteJid": "={{ $('valores').item.json.chat_id }}",
        "messageText": "=IA: {{ $json.output[0].replaceAll('\"','').replaceAll('}','').replaceAll('{text:','') }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        680,
        -40
      ],
      "id": "83d31859-6c28-4a09-ba13-60155a5c1b05",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "Tqc0fpt7oFR01S6Y",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        420,
        220
      ],
      "id": "826e27bd-b4d1-480e-803f-424bd2134cb6",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb6064d2-3f62-41f7-bd38-04f69d197d43",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "40d41068-ef11-4543-9ec3-6d1efbb71775",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "6907ec5d-9ef5-4e36-9c4c-733e3bdc744b",
              "name": "apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "ae168968-fc3e-4471-952a-591a14181d5c",
              "name": "url_server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -40
      ],
      "id": "c9c6a145-a930-47a2-8f63-89904ac72553",
      "name": "valores"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "valores": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "640a1cde-b71e-479e-89ca-0938d3054882",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d7cd8c0612c3c9f6b1aaad343a794c642582938ff7ecf165a06281225de139b"
  },
  "id": "uILVYHHkeC2KzFnZ",
  "tags": []
}